/*doc
---
title: heading1
name: heading1
category: heading
---

headingカテゴリのものは`heading.html`に出力されます。

## output

<div class="heading1">
  <div class="subText">見出しの補足見出しの補足</div>
  <h2 class="mainText">彼は背後にひそかな足音を聞いた。それはあまり良い意味を</h2>
</div>

## html

```html
<div class="heading1">
  <div class="subText">見出しの補足見出しの補足</div>
  <h2 class="mainText">彼は背後にひそかな足音を聞いた。それはあまり良い意味を</h2>
</div>
```

*/

.heading1 {
  border: 1px solid #7f8c58;
  padding: 10px;
  color: #fff;
  background: #97a66c;
}
.heading1 .subText {
  font-size: 12px;
  padding: 0 0 8px;
  margin: 0;
}
.heading1 .mainText {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


/*doc
---
title: heading2
name: heading2
category: heading
---

headingカテゴリのものは`heading.html`に出力されます。

## output

<div class="heading2">
  <div class="subText">見出しの補足見出しの補足</div>
  <h2 class="mainText">彼は背後にひそかな足音を聞いた。それはあまり良い意味を</h2>
</div>

## html

```html
<div class="heading2">
  <div class="subText">見出しの補足見出しの補足</div>
  <h2 class="mainText">彼は背後にひそかな足音を聞いた。それはあまり良い意味を</h2>
</div>
```

*/

.heading2 {
  border: 1px solid #8c6960;
  padding: 10px;
  color: #fff;
  background: #cd9a8d;
}
.heading2 .subText {
  font-size: 12px;
  padding: 0 0 8px;
  margin: 0;
}
.heading2 .mainText {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


/*doc
---
title: textSet1
name: textSet1
category: textSet
---

textSetカテゴリのものは`textSet.html`に出力されます。

## output

<div class="textSet1">
  <p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
  <p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
  <p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
</div>

## html

```html
<div class="textSet1">
  <p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
  <p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
  <p>彼は背後にひそかな足音を聞いた。それはあまり良い意味を示すものではない。誰がこんな夜更けに、しかもこんな街灯のお粗末な港街の狭い小道で彼をつけて来るというのだ。</p>
</div>
```

*/

.textSet1 {
  border-top: 2px solid #986b39;
  border-bottom: 2px solid #986b39;
  padding: 20px 20px 10px;
  overflow: hidden;
  background: #fff;
}
.textSet1 p {
  padding: 0 0 10px;
  margin: 0;
  line-height: 1.5;
  font-size: 14px;
}

